<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{${contextPath}/resources/css/style.css}">
</head>
<body>
<div>
    <h3 th:text="${#httpServletRequest.getUserPrincipal().name}"></h3>

    <div th:if="${#httpServletRequest.getUserPrincipal() == null}">
        <h4><a href="/login">Войти</a></h4>
        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>

    <div th:if="${#httpServletRequest.getUserPrincipal() != null}">
        <h4><a href="/logout">Выйти</a></h4>
    </div>

    <div th:if="${#httpServletRequest.getUserPrincipal() != null and #httpServletRequest.isUserInRole('USER')}">
        <h4><a href="/news">Новости (только пользователь)</a></h4>
    </div>

    <div th:if="${#httpServletRequest.getUserPrincipal() != null and #httpServletRequest.isUserInRole('ADMIN')}">
        <h4><a href="/admin">Пользователи (только админ)</a></h4>
    </div>
</div>
</body>
</html>

